 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 295px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 60px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  min-height: 178px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 96px;
  height: 96px;
  object-position: 45.82% 0%;
  background-image: url("images/Brahma.jpg");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-image-2 {
  width: 96px;
  height: 96px;
  object-position: 41.68% 50%;
  background-image: url("images/Ganesha.jpg");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-image-3 {
  width: 96px;
  height: 96px;
  background-image: url("images/Hanuman.jpg");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-image-4 {
  width: 96px;
  height: 96px;
  object-position: 59.38% 18.75%;
  background-image: url("images/Shiva1.jpg");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-image-5 {
  width: 96px;
  height: 96px;
  object-position: 0% 50%;
  background-image: url("images/Vishnu.jpg");
  background-position: 0% 50%;
  margin: 18px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 21px auto 0;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 30px auto 60px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 147px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 375px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 633px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 518px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 24px auto 0;
}

.u-section-2 .u-table-1 {
  width: 415px;
  margin: 20px auto 55px;
}

.u-block-e403-46 {
  background-image: none;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-2 .u-table-cell-3 {
  background-image: none;
}

.u-section-2 .u-table-cell-5 {
  background-image: none;
}

.u-section-2 .u-table-cell-7 {
  background-image: none;
}

.u-section-2 .u-table-cell-9 {
  background-image: none;
}

.u-section-2 .u-table-cell-11 {
  background-image: none;
}

.u-block-e403-35 {
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-table-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 413px;
}

.u-section-3 .u-text-1 {
  text-align: start;
  font-size: 1.5rem;
  width: 317px;
  margin: 35px auto 0;
}

.u-section-3 .u-list-1 {
  width: 254px;
  margin: 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 70px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 10px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 10px auto 0;
}

.u-section-3 .u-text-2 {
  text-align: start;
  font-size: 1.5rem;
  width: 607px;
  margin: 89px auto 0;
}

.u-section-3 .u-list-2 {
  width: 832px;
  height: auto;
  min-height: 60px;
  margin: 14px auto 60px;
}

.u-section-3 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(20% - 8px);
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  min-height: 60px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-size: 0.9375rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-btn-4 {
  border-style: solid;
  font-size: 0.9375rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-btn-5 {
  border-style: solid;
  font-size: 0.9375rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-btn-6 {
  border-style: solid;
  font-size: 0.9375rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px;
}

.u-section-3 .u-btn-7 {
  border-style: solid;
  font-size: 0.9375rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-3 .u-btn-2 {
    padding: 7px 27px 8px;
  }

  .u-section-3 .u-list-2 {
    margin-left: 200px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: repeat(5, calc(20% - 8px));
  }

  .u-section-3 .u-btn-4 {
    padding: 8px 20px;
  }

  .u-section-3 .u-btn-5 {
    padding: 8px 20px;
  }

  .u-section-3 .u-btn-6 {
    padding: 8px 20px;
  }

  .u-section-3 .u-btn-7 {
    padding: 8px 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    margin-top: 112px;
  }

  .u-section-3 .u-list-2 {
    width: 720px;
    min-height: 173px;
    margin-left: 90px;
  }

  .u-section-3 .u-repeater-2 {
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
    min-height: 173px;
  }
}

.drop-zone{
    max-width: 300px;
    height: 300px;
    padding: 25px;
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Futura';
    font-size:500;
    font-size: 30px;
    cursor: pointer;
    color: #636363;
    border: 4px dashed #009578;
    border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.error{
    font-family: "Futura";
    font-size: 20px;
    border: 2px solid;
    margin: auto;
    padding: 15px 10px 15px 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
    border-radius: 10px;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
  height: 200px;
  max-width: 200px;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Futura';
  transition-duration: 0.4s;
  border-radius:6px;
}

.button:hover{
  background-color: #555555;
  color: white;
}


@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-2 {
    width: 540px;
    margin-left: auto;
    min-height: 292px;
  }

  .u-section-3 .u-repeater-2 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 292px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-2 {
    width: 340px;
  }

  .u-section-3 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}